@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');

.newsContainer {
  display: flex;
  height: 35px;
  justify-content: center;
  align-items: center;
  background: #292f38;
}

.news {
  cursor: pointer;
  color: rgb(252, 252, 252);
  font-family: 'Overpass', sans-serif;
}

.fullNews {
  opacity: 0%;
  display: flex;
  position: absolute;
  background: linear-gradient(rgb(37, 41, 46), rgb(27, 35, 48));
  box-shadow: rgb(37, 41, 46) 3px 3px;
  top: 10rem;
  text-align: center;
  width: 380px;
  height: 250px;
  border-radius: 5px;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

.newsTitle {
  margin-top: 25px;
  color: rgb(252, 252, 252);
  font-family: 'Kanit', sans-serif;
}

.newsText {
  margin-top: 15px;
  color: rgb(252, 252, 252);
  font-family: 'Kanit', sans-serif;
}

.newsOuter {
  display: flex;
  justify-content: center;
  pointer-events: none;
}

@media screen and (max-width: 1024px) {
  .newsContainer {
    font-size: smaller;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}