@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');

.iconContainer {
  padding: 5px 5px;
}

.snackbarContainer {
  background-color: rgb(231, 82, 82);
  position: absolute;
  display: flex;
  width: 310px;
  height: 40px;
  align-items: center;
  border-radius: 3px;
  font-size: 14px;
  color: #fff;
  flex-wrap: wrap;
}

.iconContainer {
  position: absolute;
  justify-content: flex-end;
}