@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* .userFormContainer form {
  display: flex;
  position: absolute;
  left: 77vh;
} */

.userFormContainer form {
  display: flex;
  position: absolute;
  left: 77vh;
}

.userFormContainer {
  text-align: center;
}

.userInput {
  position: relative;
  top: 11px;
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 10px 10px 10px 10px;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  outline: none;
}

.userFormBttn {
  top: 17px;
  left: 110px;
}

@media screen and (max-width: 1280px) {
  .userFormContainer form {
    display: flex;
    position: absolute;
    left: 54vh;
  }
}

@media screen and (max-width: 1024px) {
  .userFormContainer form {
    display: flex;
    position: absolute;
    left: 39vh;
  }
}

@media screen and (max-width:800px) {
  .userInput {
    width: 70%;
  }
  .userFormContainer form {
    left: 3vh;
  }
}

@media screen and (max-width: 375px) {
  .userFormContainer form {
    left: 1vh;
  }
}

@media screen and (max-width: 360px) {
  .userFormContainer form {
    left: -10px;
  }
  .userFormBttn {
    left: 115px;
  }
}