@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');

.homeContainer {
  width: 100%;
  height: 100%;
}

.homeHero {
  height: 50vh;
  background: #12171f;
  z-index: 3 !important;
}

.homeText {
  text-align: center;
}

.homeTitle {
  padding-top: 55px;
  text-transform: uppercase;
  font-family: 'Kanit', sans-serif;
  font-size: 32px;
  color: #fff;
}

.homeSubtitle {
  font-family: 'Overpass', sans-serif;
  color: #fff;
  padding-top: 25px;
  padding-left: 5px;
  padding-right: 5px;
}

.lookUserBttn {
  margin-right: 30px;
  transition: 0.3s;
  text-transform: uppercase;
  padding: 5px 5px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  outline: none;
  border: none;
  width: 20%;
  height: 50px;
  background-color: #5865F2;
  color: #fff;
  font-family: 'Overpass', sans-serif;
  cursor: pointer;
}

.lookSrvBttn {
  margin-left: 30px;
  transition: 0.3s;
  text-transform: uppercase;
  padding: 5px 5px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  outline: none;
  border: none;
  width: 20%;
  height: 50px;
  background-color: #5865F2;
  color: #fff;
  font-family: 'Overpass', sans-serif;
  cursor: pointer;
}

.homeBttns {
  text-align: center;
  padding-top: 50px;
  z-index: 5 !important;
}

.lookUserBttn:hover, .lookSrvBttn:hover {
  transition: 0.3s;
  opacity: 0.8;
}

.viewArrow {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}

.viewArrow i {
  transition: 0.3s;
  color: #7882f1;
}

.viewNext {
  padding-bottom: 25px;
  color: #fff;
  font-family: 'Kanit', sans-serif;
}

.viewArrow i:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

svg {
  margin-top: 5px;
  background: #12171f;
  margin-top: -10px;
  z-index: 2 !important;
}

.fixWave {
  width: 100%;
  height: 1;
  margin-top: -5px;
}

.usrLook, .srvLook {
  font-size: 8px;
  opacity: 0.9;
  color: rgb(241, 237, 237);
}

@media screen and (max-width: 1024px) {
  .homeHero {
    height: 60vh;
  }
  .lookSrvBttn, .lookUserBttn {
    padding: 5px 5px;
    border-radius: 2px;
    width: 35%;
    height: 50px;
  }
  .lookSrvBttn {
    margin-left: 10px;
  }
  .lookUserBttn {
    margin-right: 10px;
  }
}

.homeStatus-entering {
  animation-name: homeEntering;
  animation-duration: 2s;
}

@keyframes homeEntering {
  0% {
    opacity: 0;
  }
}

.bttnStatus-entering {
  animation-name: bttnEntering;
  animation-duration: 1.5s;
}

@keyframes bttnEntering {
  0% {
    opacity: 0;
  }
}