@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');

.descFormContainer {
  margin-left: 35rem;
  margin-top: -10.7rem;
}

.descLabel {
  color: #fff;
  font-family: 'Overpass', sans-serif;
}

.descBttn {
  transition: 0.3s;
  text-transform: uppercase;
  padding: 5px 5px;
  letter-spacing: 1px;
  border-radius: 2px;
  outline: none;
  border: none;
  width: 100%;
  background-color: #5865F2;
  color: #fff;
  font-family: 'Overpass', sans-serif;
  cursor: pointer;
}

textarea {
  resize: none;
  text-align: center;
}

.descArea {
  color: #fff;
  width: 300px;
  height: 110px;
  border: none;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.descFormContainer textarea {
  background: linear-gradient(rgb(28, 31, 36), rgb(24, 31, 43));
  border-radius: 2px;
}

.descArea::placeholder {
  color: rgba(245, 245, 245, 0.356)(8, 8, 8, 0.671);
  opacity: 1;
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.7px;
}

.descArea:-ms-input-placeholder {
  color: rgba(245, 245, 245, 0.356)(8, 8, 8, 0.671);
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.7px;
}

.descArea::-ms-input-placeholder {
  color: #fff;
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.7px;
}

.descFormContainer textarea:focus {
  transition: 0.2s;
  box-shadow: 0 0 0 1pt #3f51b5;
}

@media screen and (max-width: 1024px) {
  .descFormContainer {
    margin-left: 0;
    margin-top: 4rem;
  }
  .descBttn, .descArea {
    width: 95%;
  }
}