@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');

.profileContainer {
  height: 100%;
  width: 100%;
}

.profileHero {
  height: 130vh;
  background: linear-gradient(360deg, rgb(17, 20, 24) 40%, rgb(18, 24, 34) 60%);
  z-index: 3 !important;
}

.profileBoxContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 90px;
  font-family: 'Overpass', sans-serif;
}

.profileBox {
  transition: 0.3s;
  text-align: center;
  width: 900px;
  height: 500px;
  background: linear-gradient(rgb(17, 20, 24), rgb(18, 24, 34));
  border-radius: 5px;
  z-index: 3 !important;
}

.profileBoxText {
  padding-top: 10px;
}

.profileBoxContainer a {
  text-decoration: none;
  color: #EDF6E1;
}

.profileBox {
  transition: all 0.3s ease-in-out;
  cursor: cursor;
  transform: scale(1.1, 1.1);
}

.profileBoxContent {
  display: flex;
  flex-direction: row;
}

.profileInfo {
  display: flex;
  flex-direction: column;
}

.profileImg {
  display: flex;
  position: relative;
  zoom: 65%;
  border-radius: 50%;
  margin-left: 4.3rem;
  top: -2rem;
}

.profileUsername {
  display: flex;
  position: relative;
  margin-left: 16rem;
  top: 5.5rem;
  font-family: 'Kanit', sans-serif;
  font-size: 32px;
  color: #EDF6E1;
}

.profileID {
  display: flex;
  position: relative;
  margin-left: 16rem;
  top: 5.5rem;
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
  color: #EDF6E1;
}

.badgesContainer {
  display: flex;
  position: absolute;
  /* left: 23rem; */
  margin-left: 13.9rem;
  padding-left: 35px;
  margin-top: 10rem;
}

.badge {
  padding-right: 5px;
}

.profileCreated {
  display: flex;
  position: relative;
  margin-left: 3rem;
  top: 1rem;
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
  color: #EDF6E1;
}

.accCreated {
  font-weight: bold;
}

.descWrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  background: linear-gradient(rgb(28, 31, 36), rgb(24, 31, 43));
  border-radius: 5px;
  z-index: 4 !important;
  margin-top: 2rem;
  flex-wrap: wrap;
  text-align: left;
  height: 160px;
}

.profileDescription {
  position: relative;
  flex-direction: row;
  justify-content: center;
  margin-left: 3rem;
  width: 450px;
}

.descriptionText {
  padding: 5px 5px;
  color: #fff;
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
  text-align: left;
}

.editDescription {
  transition: 0.3s;
  text-transform: uppercase;
  padding: 5px 5px;
  letter-spacing: 1px;
  border-radius: 2px;
  outline: none;
  border: none;
  width: 100%;
  height: 30px;
  background-color: #5865F2;
  color: #fff;
  font-family: 'Overpass', sans-serif;
  cursor: pointer;
  margin-top: 10px;
}

.ownerBadge {
  width: 28px;
  height: 24px;
}

.manageUserBttns {
  position: absolute;
  margin-top: 3rem;
  margin-left: 40rem;
}

@media screen and (max-width: 1024px) {
  .profileBox {
    width: 300px;
    height: 800px;
  }
  .profileImg {
    margin-top: 2rem;
    zoom: 40%;
  }
  .profileUsername {
    margin-left: 10rem;
    top: 3rem;
    font-size: 13px;
  }
  .profileID {
    margin-left: 10rem;
    top: 3rem;
    font-size: 11px;
  }
  .badgesContainer {
    margin-left: 8rem;
    margin-top: 5.5rem;
  }
  .badge {
    padding-right: 2.5px;
  }
  .profileCreated {
    margin-left: 1rem;
    top: 0.5rem;
    font-size: 13px;
  }
  .profileGuildsCount {
    margin-left: 1rem;
    top: 0.65rem;
    font-size: 13px;
  }
  .profileHero {
    height: 170vh;
  }
  .manageUserBttns {
    width: 100%;
    display: flex;
    position: absolute;
    margin: 0;
    justify-content: center;
    align-items: center;
    margin-top: 45rem;
  }
  .profileDescription {
    margin-left: 0;
    width: 300px;
    text-align: left;
  }
  .descWrapper {
    width: 100%;
    text-align: left; 
    font-size: 10px;
    height: 260px;
  }
}

.profileBoxStatus-entering {
  animation-name: profileOpacity;
  animation-duration: 1.5s;
}

@keyframes profileOpacity {
  0% {
    opacity: 0;
  }
}