@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.userFormWrapper {
  width: 100%;
  height: 70px;
}

.userFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.userForm {
  display: flex;
  position: relative;
  justify-content: center;
  top: 10px;
}

.bttnUser {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 10px;
  left: 25px;
}

.userFormBttn {
  display: block;
}

.userInput {
  width: 250px;
  height: 50px;
  padding: 12px 12px;
  border-radius: 4px;
  outline: none;
  border: none;
  background: linear-gradient(rgb(34, 39, 46), rgb(43, 52, 66));
  transition: all 0.2s ease-in-out;
  color: #fff;
}

.userInput::placeholder {
  color: #fff;
  opacity: 1;
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.7px;
}

.userInput:-ms-input-placeholder {
  color: #fff;
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.7px;
}

.userInput::-ms-input-placeholder {
  color: #fff;
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.7px;
}

.userInput:focus {
  transition: 0.2s;
  box-shadow: 0 0 0 1pt #3f51b5;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 2px solid #3f51b5;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px linear-gradient(rgb(34, 39, 46), rgb(43, 52, 66)) inset;
  transition: background-color 5000s ease-in-out 0s;
}

@media screen and (max-width: 1024px) {
  .userInput {
    width: 210px;
  }
  .bttnUser {
    left: 15px;
  }
}