@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');

.allUsersWrapper {
  float: left;
  width: 25%;
  padding: 0 10px 10px;
}

.userCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* padding: 16px; */
  /* padding: 16px 16px 16px 16px; */
  /* padding-bottom: 40px; */
  height: 130px;
  background-color: #26282e;
  border-radius: 5px;
  transition: 0.3s;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.userlistUsername {
  color: rgb(241, 233, 233);
  font-family: 'Kanit', sans-serif;
  display: flex;
  position: relative;
  margin-left: 6rem;
  margin-top: -4rem;
}

.userlistID {
  color: rgb(214, 212, 212);
  font-family: 'Overpass', sans-serif;
  font-size: 12px;
  margin-left: 6rem;
}

.viewUserProfile {
  transition: 0.3s;
  text-transform: uppercase;
  padding: 5px 5px;
  letter-spacing: 1px;
  border-radius: 2px;
  outline: none;
  border: none;
  width: 25%;
  background-color: #5865F2;
  color: #fff;
  font-family: 'Overpass', sans-serif;
  margin-left: 6rem;
  margin-top: 10px;
  cursor: pointer;
}

.userlistIcon {
  margin-left: 15px;
  margin-top: 15px;
  width: 64px;
  border-radius: 50%;
}

.userCard:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.02);
}

.viewUserProfile:hover {
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}

.listBadge {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: 15px;
  margin-top: 40px;
}

.listOwner {
  margin-left: 45px;
}

@media screen and (max-width: 1024px) {
  .allUsersWrapper {
    width: 80%;
    display: block;
    margin-bottom: 20px;
    margin-left: 65px;
  }
}

.userCardStatus-entering {
  animation-name: userListOpacity;
  animation-duration: 1s;
}

@keyframes userListOpacity {
  0% {
    opacity: 0;
  }
}