@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');

.userListContainer {
  height: 100%;
  width: 100%;
}

.userListHero {
  height: 130vh;
  background: linear-gradient(360deg, rgb(17, 20, 24) 40%, rgb(18, 24, 34) 60%);
  z-index: 3 !important;
}

.usersListAll {
  height: 50px;
}

@media screen and (max-width: 1024px) {
  .userListHero {
    height: 180vh;
  }
}