@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');

.userListContainer {
  height: 100%;
  width: 100%;
}

.userListHero {
  height: 130vh;
  background: linear-gradient(360deg, rgb(17, 20, 24) 40%, rgb(18, 24, 34) 60%);
  z-index: 3 !important;
}

.usersWrapper {
  margin-top: 50px;
}

.usersWrapper:after {
  content: "";
  display: table;
  clear: both;
}

.userListTitle {
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding-top: 45px;
  color: #EDF6E5;
}

.userListSubtitleDiv {
  padding-top: 30px;
}

.userListSubtitle {
  text-align: center;
  font-family: 'Kanit', sans-serif;
  color: #EDF6E1;
  line-height: 17px;
}

@media screen and (max-width: 1024px) {
  .userListHero {
    height: 320vh;
  }
}