* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.loadingContainer {
  z-index: 12 !important;
}

.fullNews {
  z-index: 10 !important;
}

@media screen and (max-width: 375px) {
  .fullNews {
    width: 100%;
  }
}